@charset "utf-8";

#main h2 {
    font-size: 12pt;
}
#program {
    border-bottom:1px solid #B4B4B4;
}
#program #logos img {
    margin-top:20px;
    margin-bottom: 5px;
    width:218px;
    border:4px solid #000;
}
#program #logos {
    float:right;
    margin-right:20px;
    width: 226px; /* 218+4*2 */
}
#program #courses {
    float:left;
    width: 394px; /* 720-30*2-226-20-20 */
}

#program #courses ul li span {
    font-style: italic;
    font-size: 10pt;
    color:#444;
}
#project {
    border-bottom: 1px solid #B4B4B4;
}
#project img {
    float: right;
    border:2px solid #000;
    width:100px;
    height:100px;
}
#project .text {
    float:left;
    width:400px;
}
#graduation img {
    float:right;
    border:2px solid #000;
    width:100px;
    height:100px;
}
#graduation .text {
    float:left;
    width:400px;
}