@charset "utf-8";

.section {
    margin-bottom: 20px;
    border-bottom: 1px dotted #B4B4B4;
}
.section img {
    margin-top:5px;
}
.section .text h2 {
    color:#996600;
}
.section .text ul {
    font-size: 10.8pt;
}
#gwu img {
    float:left;
}
#gwu .text {
    float:right;
    text-align: left;
    width:465px; /* 720-30*2-165-30 */
}
#america img {
    float:right;
}
#america .text {
    float:left;
    text-align: right;
    width:420px; /* 720-30*2-210-30 */
}
#work img {
    float:left;
    margin-bottom: 15px;
}
#work .text {
    float:right;
    text-align: left;
    width:530px; /* 720-30*2-100-30 */
}
#marriage img {
    float:left;
    margin-right:10px;
}
#marriage .text {
    float:right;
    text-align: left;
    width:181px; /* 720-30*2-100-100-225-20-10*3 */
}
#pku img {
    float:left;
    border:none;
}
#pku .text {
    float:right;
    text-align: left;
    width: 520px; /* 720-30*2-110-30 */
}
#railway img {
    float:right;
    border:none;
    margin-top:5px;
}
#railway .text {
    float:left;
    text-align: right;
    width:425px; /* 720-30*2-210-30 */ 
}
#njtu img {
    float:left;
    width:110px;
    border:none;
    margin-bottom: 10px;
    margin-left:5px;
}
#njtu .text {
    float:right;
    text-align: left;
    width:515px; /* 720-30*2-110-5-30 */
}
