@charset "utf-8";

.section {
    margin-bottom: 30px;
    border-bottom: 1px dotted #B4B4B4;
}
.section img {
    border:2px solid #B4B4B4;
}
.section .text h2 {
    color:#996600;
}
.section .text ul {
    font-size: 10.8pt;
}
#gwu img {
    float:left;
}
#gwu .text {
    float:right;
    text-align: left;
    width:461px; /* 720-30*2-165-2*2-30 */
}
#america img {
    float:right;
}
#america .text {
    float:left;
    text-align: right;
    width:418px; /* 720-30*2-210-2*2-30 */
}
#work img {
    float:left;
    margin-top: 5px;
}
#work .text {
    float:right;
    text-align: left;
    width:526px; /* 720-30*2-100-2*2-30 */
}
#marriage img {
    float:left;
    margin-right:5px;
}
#marriage .text {
    float:right;
    text-align: left;
    width:187px; /* 720-30*2-100-100-225-4*3-20-5*3 */
}
#pku img {
    float:left;
    border:none;
}
#pku .text {
    float:right;
    text-align: left;
    width: 516px; /* 720-30*2-110-2*2-30 */
}
#railway img {
    float:right;
    border:none;
    margin-top:5px;
}
#railway .text {
    float:left;
    text-align: right;
    width:425px; /* 720-30*2-210-2*2-30 */ 
}
#njtu img {
    float:left;
    width:110px;
    border:none;
    margin-bottom: 10px;
    margin-left:5px;
}
#njtu .text {
    float:right;
    text-align: left;
    width:516px; /* 720-30*2-110-5-30 */
}
