@charset "utf-8";

#links {
    margin:30px;
}
#links .post {
    margin-bottom: 50px;
}
#links .post img {
    float:left;
    width:200px;
    border:2px solid #000;
}
#links .post ul {
    float:right;
    width:380px;
    margin:0;
    font-size: 10.5pt;
}
#links .navi {
    float:right;
}
#links .navi a {
    color:#11c;
}
#links .navi a:hover {
    color:#36c;
}