@charset "utf-8";

#njtu {
	margin:30px;
}
#njtu .left {
    width:380px;
    float:left;
}
#njtu .right {
    width:240px;
    float:right;
}
#njtu .right img {
    margin:20px 0 30px 20px;
    width:200px;
    border:4px solid #000;
}
#njtu .right img.logo1 {
	margin:20px 0 0 25px;
	width:95px; 
	border:0; 
}
#njtu .right img.logo2 {
    margin:20px 0 0 0;
    width:95px; 
    border:0; 
}
#njtu .section {
    padding-bottom:20px;
    border-top:1px dashed #000;
}
#njtu .section .photos {
    float:right;
    width:306px;
    margin-bottom:20px;
}
#njtu .section .photos img {
    margin:10px 0;
    border:3px solid #000;
}

#njtu .more {
    float:right;
    margin-bottom:20px;
    text-transform: uppercase;
}

