@charset "utf-8";

.section {
    margin-bottom:20px;
}
.section h2 {
    color:#996600;
    border-bottom: 1px dotted #B4B4B4;
}
#title h2 {
    border:none;
}
.section .focus {
    color:#00008c;
}
.section .minor {
    font-size: 10.5pt;
    color:#383838;  
}
#employment p {
    margin-top: 5px;
    margin-bottom: 0;
    font-style: italic;
    font-size: 10.5pt;
    color:#00008c;
}
