@charset "utf-8";

body {
    margin:0;
    padding:0;
    text-align:center;

    font-family:Georgia, "URW Bookman L", serif;    
    font-size:11pt;
    
    background:#B4B4B4 url(images/netmap.jpg) top fixed  no-repeat;
    -moz-background-size: 100% 100%;
           /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;
           /* Opera 9.5 */
    -webkit-background-size: 100% 100%;
           /* Safari 3.0 */
    background-size: 100% 100%;
           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    -moz-border-image: url(images/netmap.jpg) 0;
           /* Gecko 1.9.1 (Firefox 3.5) */
}

div.clear {
    height:0;
    clear:both;
}

#container {
    width: 720px; 
    margin: 0 auto;
    padding: 0;
}

/* #header */
#header {
    margin:0;
    padding:0;
}
#header h1 { 
    margin:0;
    padding:30px 0 15px 0;
    font-size:18pt;
}
#header h2 {
    margin:0;
    padding:0 0 5px 0;
    font-size: 12pt;
}
#header p{
    margin:0;
    padding:10px 0 5px 0;
    line-height: 150%;
    font-size: 11pt;
    font-style:italic;
    text-align:justify;
}
#header p.meta {
    padding:0 0 5px 0;
    text-align:right;
}

/* #footer */
#footer {
    margin:0;
    padding: 15px 0 10px 0;
}
#footer ul {
    margin:0;
    padding:15px 0;
}
#footer ul li {
    display:inline;
    padding:0 10px;
    border-right:1px solid #666;
}
#footer ul li.first-item {
    border-left:1px solid #666;
}
#footer ul li a {
    text-decoration: none;
    color: #11c;
}
#footer ul li a:hover {
    text-decoration: underline;
    color:#36c;
}
#footer p {
    margin:0;
    padding:0 0 5px 0;
}
#footer p a {
    text-decoration: none;
    color:#000;
}
#footer p a:hover {
    text-decoration: underline;
}
#footer #counter {
    margin:0;
    padding:5px 0;
}

/* #mask */
#mask {
    margin:0;
    padding:0;
    /*background:#ccc url(images/bgmask.jpg) repeat;*/
    background-color: #fffafa;
    filter: Alpha(Opacity=85, Style=0);
    -moz-opacity: 0.85;
    opacity: 0.85;
    border:1px solid #B4B4B4;
}

/* #menu */
#menu {
    margin:0;
    padding:10px;
    border-bottom:1px solid #B4B4B4;
}
#menu ul {
    margin:0 auto;
    padding:0;
}
#menu ul li {
    margin:0 10px;
    display:inline;
    font-size:13pt;
}
#menu ul li a {
    text-decoration: none;
    color: #666;
}
#menu ul li a:hover {
    text-decoration: none;
    color: #000;
}
#menu ul li.current_item a {
    color:#000;
}

/* #main */
#main {
    padding:30px;
    min-height:400px;
    text-align:left;
}
#main p, #main ul {
    line-height:150%;
}
#main a {
    text-decoration: none;
}
#main a:hover {
    text-decoration: underline;
}
#main a img {
    border:none;
}
#main h1 {
    font-size: 13pt;
}
#main h2 {
    font-size: 12pt;
}
#main h3 {
    font-size: 11pt;
}