@charset "utf-8";

* {
    margin:0;
    padding:0;
}
body {
    font-family:Georgia, "URW Bookman L", serif;    
    font-size:11pt;
    text-align:center;
    
    background:#B4B4B4 url(images/netmap.jpg) top fixed no-repeat;
}
div.clear {
    height:0;
    clear:both;
}
#container {
    width: 720px; 
    margin: 0 auto;
    padding: 0;
}

/* #header */
#header h1 { 
    padding-top:30px;
    padding-bottom: 15px;
    font-size:18pt;
}
#header h2 {
    padding-bottom:5px;
    font-size:12pt;
    color:#444;
}
#header h3 {
    padding-bottom:5px;
    font-size: 11pt;
    color:#444;
}
#header p{
    padding-top:10px;
    padding-bottom:5px;
    line-height: 150%;
    font-size: 11pt;
    font-style:italic;
    text-align:justify;
}
#header p.meta {
    padding-top:0;
    padding-bottom:5px;
    text-align:right;
}

/* #footer */
#footer {
    padding-top: 15px;
    padding-bottom: 10px;
}
#footer ul {
    padding-top:15px;
    padding-bottom: 15px;
}
#footer ul li {
    display:inline;
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #666;
}
#footer ul li.first-item {
    border-left:1px solid #666;
}
#footer ul li a {
    color: blue;
    text-decoration: none;
}
#footer ul li a:hover {
    color: red;
    text-decoration: underline;
}
#footer p {
    padding-bottom: 5px;
}
#footer p a {
    color:#000;
    text-decoration: none;
}
#footer p a:hover {
    color:red;
    text-decoration: underline;
}
#footer #counter {
    margin:0;
    padding:5px 0;
}

/* #mask */
#mask {
    /*background:#ccc url(images/bgmask.jpg) repeat;*/
    background-color: #fffafa;
    /*filter: Alpha(Opacity=100, Style=0);
    -moz-opacity: 1.0;
    opacity: 1.0;*/
}

/* #menu */
#menu {
    padding:10px;
    border-bottom:1px solid #B4B4B4;
}
#menu ul {
    margin:0 auto;
}
#menu ul li {
    margin:0 10px;
    display:inline;
    font-size:13pt;
}
#menu ul li a {
    color: #666;
    text-decoration: none;
}
#menu ul li a:hover {
    color: #000;
    text-decoration: none;
}

#menu ul li.current_item a {
    color:#000;
}

/* #main */
#main {
    padding:30px;
    min-height:200px;
    text-align:left;
}
#main p {
    margin-top:5px;
    margin-bottom:5px;
}
#main ul {
    margin-top:10px;
    margin-bottom:10px;
    padding-left:25px;
}
#main table {
    margin-top:15px;
    margin-bottom: 15px;
}
#main p, #main ul {
    line-height:150%;
}
#main a {
    color: blue;
    text-decoration: none;
}
#main a:visited {
    color: purple;
    text-decoration: none;
}
#main a:active {
    color: red;
    text-decoration: underline;
}
#main a:hover {
    color: red;
    text-decoration: underline;
}
#main a img {
    border:none;
}
#main h1 {
    margin-bottom:10px;
    font-size: 13pt;
}
#main h2 {
    margin-bottom: 10px;
    font-size: 12pt;
}
#main h3 {
    margin-bottom: 10px;
    font-size: 11pt;
}

