@charset "utf-8";

.section {
    border-bottom: 1px dotted #B4B4B4;
}
.section h2 {
    color:#996600;
}
#program {
    margin-bottom: 20px;
}
#program #courses {
    float:left;
    width:450px; /* 720-30*2-184-5-20*/
}
#program #logos {
    float:right;
    width:184px; /* 180+2*2 */
    margin-right: 5px;
    margin-top:20px;
}
#program #logos img {
    width:180px;
    margin-bottom: 25px;
    border:2px solid #000;
}
#program #logos img.logo {
    margin-left:40px;
    width:100px; 
    border:0; 
}
