@charset "utf-8";

.topnav {
    padding-bottom: 5px;
    font-size: 9pt;
}
.section {
    padding-bottom: 20px;
    border-bottom:1px dotted #B4B4B4;
    margin-bottom: 20px;
}
.section h2 {
    color: #996600;
}
.section h3 {
    color:#996600;
}
.section .meta {
    font-size:10pt;
    font-style:italic;
    color:#666;
}
.combo .pic {
    float:right;
    width:194px;
}
.combo .pic img {
    width:190px;
    margin-top: 10px;
    margin-bottom: 3px;
    border:1px solid #ccc;
}
.combo .text {
    float:left;
    width:440px;
}
#system {
    border:none;
}
#tech {
    border: none;
}
#tech table  {
    font-size: 10.5pt;
}
#tech th {
    padding-right: 10px;
    text-align: right;
    font-weight: normal;
    color:#996600;
}