@charset "utf-8";

#header h2 {
    font-size: 11pt;
}
#header p {
    font-size:10.5pt;
}
.section {
    padding-bottom: 20px;
    border-bottom:1px dotted #B4B4B4;
}
.section h2 {
    color:#996600;
}
#program #logos {
    float:right;
    width:208px; /* 200+4*2 */
    margin-right: 20px;
    margin-top:20px;
}
#program #logos img {
    margin-bottom:20px;
    width:200px;
    border:4px solid #000;
}
#program #logos img.logo1 {
    width:95px; 
    border:0; 
}
#program #logos img.logo2 {
    width:95px; 
    border:0; 
}
#program #courses {
    float:left;
    width:412px; /* 720-30*2-208-20-20*/
}
#program #courses ul {
    padding-left:25px;
    margin-bottom: 5px;
}
.minor {
    font-size: 10.5pt;
    color:#383838;  
}
#classmates table {
    width:100%;
}
#roommates {
    margin-bottom: 20px;
}
#roommates table {
    width:100%;
}