@charset "utf-8";

.section {
    margin-bottom: 20px;
    border-bottom:1px dotted #B4B4B4;
}
.section h2 {
    color:#996600;
}
#program .pic {
    float:right;
    width:208px; /* 200+4*2 */
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top:20px;
}
#program .pic img {
    margin-bottom:13px;
    width:200px;
    border:4px solid #000;
}
#program .pic img.logo1 {
    width:95px; 
    border:0; 
}
#program .pic img.logo2 {
    width:95px; 
    border:0; 
}
#program .text {
    float:left;
    width:412px; /* 720-30*2-208-20-20*/
}
.section .minor {
    font-size: 10.5pt;
    color:#383838;  
}
#classmates, #roommates {
    padding-bottom:15px;
}
#classmates table, #roommates table {
    width:100%;
}
