@charset "utf-8";

.section {
    margin-bottom: 20px;
}
.section h2 {
    color:#996600;
}
#program {
    border-bottom:1px dotted #B4B4B4;
}
#program .pic {
    float:right;
    margin-right:5px;
    margin-top:10px;
    margin-bottom: 10px;
    width: 226px; /* 218+4*2 */
}
#program .pic img {
    margin-bottom: 10px;
    width:218px;
    border:2px solid #000;
}
#program .text {
    float:left;
    width: 394px; /* 720-30*2-226-20-20 */
}
#program ul {
    margin:10px 0;
}
#program ul li span {
    font-style: italic;
    font-size: 10.5pt;
    color:#444;
}
#projects .meta {
    margin-top:-5px;
    font-size:10pt;
    font-style:italic;
    color:#666;
}
#projects table { 
    width:100%;
    font-size: 10.5pt;
    border-collapse:collapse;
    table-layout: fixed;
    margin:10px 0;
}
#projects table, 
#projects table tr, 
#projects table tr td {
    border:1px solid #B4B4B4;
}
#projects table td {
    height:22px;
    padding-left:10px;
}
#projects table tr.focus {
    background-color:#eee; 
}
#graduation {
    border-bottom:1px dotted #B4B4B4;
}
#graduation img {
    float:left;
    margin-top:5px;
}
#graduation .text {
    float:right;
    width:460px;
}
